.splide {
  max-height: 400px;
  /* overflow: hidden; */
  padding: 1rem 0;
  
}

.splide__track {
  max-height: 100%;
  /* overflow: hidden; */
  padding-top: 2rem;
    padding-bottom: 10rem;
}

.splide__slide {
  border-radius: 12px;
  /* overflow: hidden; */
  transition: transform 0.3s, box-shadow 0.3s;
  background: #111;
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 00%;
}

.carousel-image {
  width: 100%;
  height: auto;
  max-height: 280px;
  /* object-fit: contain; */
  display: block;
  box-shadow: 0 0 15px #00000077;
  margin: 0 auto;
}

.splide__slide h3 {
  margin-top: 0.8rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #a3cef1;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 2px #000;
}

.splide__slide:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #007bff, 0 0 40px #007bff33;
}

.splide__slide:hover h3 {
  color: #1e90ff;
}
