<!-- game-passingout.component.html -->
<div class="game-container">
    <button class="back-home-btn" (click)="volverAProjects()"> ← </button>
    <div class="tooltip-card">
        Usa <strong>W A S D</strong> para moverte <br><br>
        Presiona <strong>E</strong> para inspeccionar los objetos<br><br>
        Pulsa la <strong>Espacio</strong> para saltar
      </div>
      
    <iframe
        [src]="safeUrl"
        width="100%"
        height="100%"
        frameborder="0"
        allowfullscreen></iframe>
</div>
