<section id="hero" class="hero">
  <!-- Columna Imagen -->
  <div class="hero-image">
    <!-- Placeholder de 800x600, puedes cambiarlo según necesites -->
    <img src="assets/images/hero.png" alt="Hero" class="fade-in-img" @fadeIn />
  </div>

  <!-- Columna Texto -->
  <div class="hero-content">
    <h2 class="typing-title" #typedRef1></h2>
    <h3>
      <span #typedRef2></span>
      <span #typedRef3></span>
    </h3>
  </div>
</section>
<div id="about">
<app-timeline></app-timeline>

<app-skills></app-skills>
</div>
<!-- Sección FEATURED PROJECTS -->
<section id="featured" class="featured-section" data-aos="fade-up">
  <div class="featured-heading" data-aos="fade-up" data-aos-delay="100">
    <h2>Proyectos Destacados</h2>
    <p data-aos="fade-up" class="subtitle">
      Un vistazo rápido a mis principales creaciones e ideas.
      ¡Descubre también mis demos de videojuegos!
    </p>
    <button class="btn-see-all" [routerLink]="['/projects']" data-aos="zoom-in" data-aos-delay="200">
      Ver todos los proyectos
    </button>
  </div>

  <div class="featured-image" data-aos="fade-up" data-aos-delay="300">
    <app-project-carousel></app-project-carousel>
  </div>
</section>


<div id="contact">
<app-contact></app-contact>
</div>
<!-- FOOTER -->
<footer class="footer-section">
  <!-- 4 columnas, por ejemplo -->
  <div class="footer-col logo-col">
    <!-- Imagen placeholder -->
    <div class="footer-img-placeholder">
      <img class="logo" src="assets/images/icon.PNG" alt="logo" />
    </div>
  </div>

  <div class="footer-col">
    <h4>Landing Page</h4>
    <ul>
      <li><a href="#hero">Hero</a></li>
      <li><a href="#about">About me</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

  <div class="footer-col">
    <h4>Projects</h4>
    <ul>
      <li><a href="#">Web Project</a></li>
      <li><a href="#">Game Projects</a></li>
    </ul>
  </div>

  <div class="footer-col">
    <h4>Game</h4>
    <!-- Algún link, si procede -->
    <ul>
      <li><a href="#">Link1</a></li>
      <li><a href="#">Link2</a></li>
    </ul>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright">
    &copy; Jesua Santes. 2025. Todos los derechos reservados.
  </div>
</footer>