<section class="projects-page">
    <div class="container">
        <h1 class="section-title" data-aos="fade-up">Mis Proyectos</h1>
        <p class="section-description" data-aos="fade-up" data-aos-delay="100">
            Aquí te presento una recopilación de mis principales trabajos,
            divididos en dos áreas clave: desarrollo web y videojuegos.
        </p>

        <!-- PROYECTOS WEB -->
        <div class="project-group">
            <h2 class="category-title" data-aos="fade-up">Proyectos Web</h2>

            <div class="project-section">
                <div class="projects-column">
                    <div class="detailed-project" data-aos="fade-up"
                        data-hover-text='["¿La primera es de chocolate no ?", "La primera nunca se olvida", "Por algo se empieza, ¿no?"]'>
                        <div class="carousel-container splide splide-proyecto-1"
                            aria-label="Carrusel proyecto 1">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide"><img
                                            src="assets/images/az7.jpeg"
                                            alt="Slide 1" /></li>
                                    <li class="splide__slide"><img
                                            src="assets/images/az7.jpeg"
                                            alt="Slide 2" /></li>
                                    <li class="splide__slide"><img
                                            src="assets/images/az7.jpeg"
                                            alt="Slide 3" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-content">
                            <h3><span class="highlight">Página Web con base de
                                    datos</span></h3>
                            <p>Esta fue mi primera página completa y la subimos
                                a internet. Era una eShop de mangas llamada
                                <strong>The Wandering Blade</strong>, inspirada
                                en Vagabond. Diseñé vistas con tonos azul y
                                blanco, animaciones, y sistema de comentarios
                                con base de datos MySQL. Sin frameworks, solo
                                HTML, CSS y JavaScript. Costó, pero quedó
                                digna.</p>
                            <div class="tech-stack">
                                <span>HTML</span><span>CSS</span><span>JavaScript</span><span>MySQL</span>
                            </div>
                        </div>
                    </div>

                    <div class="detailed-project" data-aos="fade-up"
                        data-hover-text='["¡Era increible cuándo cambiaba algo y se movía todo!", "Por cada linea de código 2 capitulos de Berserk", "No me culpen, estaba leyendo Berserk durante ese semestre"]'>
                        <div
                            class="carousel-container splide splide-proyecto-2">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide"><img
                                            src="assets/images/az7.jpeg"
                                            alt="Slide 1" /></li>
                                    <li class="splide__slide"><img
                                            src="assets/images/az7.jpeg"
                                            alt="Slide 2" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-content">
                            <h3><span class="highlight">Página web
                                    responsive</span></h3>
                            <p>Inspirado en Berserk, este rediseño oscuro usó
                                tonos rojos, negros y grises. Sin base de datos,
                                pero enfocado 100% al diseño responsive.
                                Implementé animaciones, loaders, vistas móviles
                                y desktop. Mejoré mucho en experiencia de
                                usuario, tanto que casi lloro de orgullo.</p>
                            <div class="tech-stack">
                                <span>HTML</span><span>CSS</span><span>JavaScript</span>
                            </div>
                        </div>
                    </div>

                    <div class="detailed-project" data-aos="fade-up"
                        data-hover-text='["Como olvidar cuándo borré la base de datos de la empresa", "¿Cómo que no tengo todo el semestre para hacer la página?", "Formularios, bases de datos y crisis existenciales"]'>
                        <div
                            class="carousel-container splide splide-proyecto-3">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide"><img
                                            src="assets/images/az7.jpeg"
                                            alt="Slide 1" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-content">
                            <h3><span class="highlight">Semestre empresarial -
                                    Sitios y Rebrandings</span></h3>
                            <p>En este reto hice 4 sitios: dos rebrandings y dos
                                desde cero. Los diseños ya venían listos, así
                                que me enfoqué en programar bien. Conecté
                                formularios a bases de datos y entendí que esto
                                de hacer webs me encanta... aunque también
                                aprendí a optimizar tiempos (a las malas
                                😅).</p>
                            <div class="tech-stack">
                                <span>HTML</span><span>SCSS</span><span>Laravel</span><span>Angular</span>
                            </div>
                        </div>
                    </div>

                    <div class="detailed-project" data-aos="fade-up"
                        data-hover-text='["Diseñar era más divertido en mi mente", "Finalmente, lo que yo quiera, ¡Cuando yo quiera!", "¡Salvando el semestre en la última semana!"]'>
                        <div
                            class="carousel-container splide splide-proyecto-4">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide"><img
                                            src="assets/images/az7.jpeg"
                                            alt="Slide 1" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-content">
                            <h3><span class="highlight">Portafolio
                                    Web</span></h3>
                            <p>Este portafolio es mi espacio para jugar. Nadie
                                me limitó, así que probé estilos, componentes y
                                estructura como quise. Aún está en desarrollo
                                (sí, esto que estás viendo también lo programo
                                en tiempo real), pero ha sido un proyecto que
                                refleja totalmente lo que soy.</p>
                            <div class="tech-stack">
                                <span>Angular</span><span>TypeScript</span><span>SCSS</span><span>EmailJS</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mascot-column">
                    <img src="assets/images/gatoLap.png" alt="Gato programando"
                        class="gato-fixed flipped" />
                    <div class="comic-bubble"><span
                            id="typedMascot">Zzz...</span></div>
                </div>
            </div>

            <!-- PROYECTOS VIDEOJUEGOS -->
            <h2 class="category-title" data-aos="fade-up">Proyectos de
                Videojuegos</h2>

            <div class="project-section">
                <div class="projects-column">
                    <div class="detailed-project" data-aos="fade-up"
                        data-hover-text='["Despertar, modelar, dormir, repetir", "Soñé con Blender durante semanas", "Me gusta el low poly ¡Lo juro!, convenientemente es más fácil de modelar"]'>
                        <div
                            class="carousel-container splide splide-proyecto-5">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide"><img
                                            src="assets/images/az7.jpeg"
                                            alt="Slide 1" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-content">
                            <h3><span class="highlight">Juego 3D - Passing Out
                                    Pieces</span></h3>
                            <p>Inspirado en Project Zomboid, este juego fue mi
                                primer contacto serio con Unity 3D. Aprendí
                                Blender para modelar personajes y escenarios.
                                Implementé cámara, físicas y movimiento. Es un
                                juego básico, pero significó un salto enorme en
                                complejidad técnica para mí.</p>
                            <div class="tech-stack">
                                <span>Unity</span><span>C#</span><span>Blender</span>
                            </div>
                        </div>
                    </div>

                    <div class="detailed-project" data-aos="fade-up"
                        data-hover-text='["Mi primer amor, ¡Pronto te verás como te imaginé!", "No me pregunten cómo un Roomba puede hacerle daño a alguien", "En blanco y negro porque no sé colorear"]'>
                        <div
                            class="carousel-container splide splide-proyecto-6">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide"><img
                                            src="assets/images/az7.jpeg"
                                            alt="Slide 1" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-content">
                            <h3><span class="highlight">Juego 2D -
                                    TimeSaver</span></h3>
                            <p>Inspirado en SallyFace, este juego retro con
                                estética en blanco y negro tiene enemigos,
                                monedas, menús y más. Lo programé en Unity 2D
                                con mecánicas de plataformas, aunque mi idea
                                original era un point-and-click. A pesar de las
                                limitaciones escolares, fue donde más me divertí
                                desarrollando.</p>
                            <div class="tech-stack">
                                <span>Unity</span><span>C#</span><span>Animación 2D</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mascot-column">
                    <!-- reutiliza el mismo gato -->
                </div>
            </div>
        </div>
    </div>
</section>
